@model DT102GMoment2.Models.CarWash


<div class="well">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Betyg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Betyg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AmountSchampo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AmountSchampo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SizeOfBucket)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SizeOfBucket)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Regnr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Regnr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
    </dl>

</div>


@{
}
